<div id="<%= dom_id book_stock %>">
  <table class="table table-hover">
    <tr>
      <td>
        <strong>Id:</strong>
      </td>
      <td>
        <%= book_stock.id %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= BookStock.human_attribute_name(:book_master_id) %>
        </strong>
      </td>
      <td>
        <%= book_stock.book_master.title %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= BookStock.human_attribute_name(:book_stock_status_id) %>
        </strong>
      </td>
      <td>
        <%= book_stock.book_stock_status.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= BookStock.human_attribute_name(:memo) %>
        </strong>
      </td>
      <td>
        <%= book_stock.memo %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= BookStock.human_attribute_name(:created_at) %>
        </strong>
      </td>
      <td>
        <%= book_stock.created_at && l(book_stock.created_at) %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= BookStock.human_attribute_name(:updated_at) %>
        </strong>
      </td>
      <td>
        <%= book_stock.updated_at && l(book_stock.updated_at) %>
      </td>
    </tr>
  </table>
</div>
