<%= form_with(model: ndc_category, html: { class: %w[form-control form-control-sm] }) do |form| -%>
  <%- if ndc_category.errors.any? -%>
  <div style="color: red">
    <h2><%= t("errors.template.header", model: NdcCategory.model_name.human, count: ndc_category.errors.count) %></h2>

    <ul>
    <% ndc_category.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <%- end -%>
    </ul>
  </div>
  <%- end -%>

  <%- if ndc_category.persisted? -%>
  <div>
    <%= form.label :id, style: "display: block" %>
    <div class="ps-2">
      <%= form.number_field :id, class: %w[form-control form-control-sm], disabled: true %>
    </div>
  </div>
  <%- end -%>
  <div>
    <%= form.label :name, style: "display: block" %>
    <div class="ps-2">
      <%= form.text_field :name, class: %w[form-control form-control-sm] %>
    </div>
  </div>
  <div>
    <%= form.label :number, style: "display: block" %>
    <div class="ps-2">
      <%= form.number_field :number, class: %w[form-control form-control-sm] %>
    </div>
  </div>
  <%- if ndc_category.persisted? -%>
  <div>
    <%= form.label :created_at, style: "display: block" %>
    <div class="ps-2">
      <%= form.datetime_field :created_at, class: %w[form-control form-control-sm], disabled: true %>
    </div>
  </div>
  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <div class="ps-2">
      <%= form.datetime_field :updated_at, class: %w[form-control form-control-sm], disabled: true %>
    </div>
  </div>
  <%- end -%>
  <div>
    <%= form.submit class: %w[btn btn-primary] %>
  </div>
<% end %>
